body {
  background-color: #3c3f39; /* Background color for the entire page */
  color: white; /* Default text color */
  text-align: center; /* Center aligns text within its container */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  text-align: center; /* Centers the text of the header */
  font-family: 'Comfortaa', sans-serif; /* Applies the Comfortaa font */
}

h3 {
  text-align: center; /* Centers the text of subheadings */
}

.start-button {
  background-color: #3c3f39; /* Background color of the button */
}

.navbar {
  background-color: #232624;
  padding: 30px 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-list a:hover {
  background-color: #343936;
}

.content-box {
  display: block; /* Positions the content at the block */
  align-items: center; /* Vertically aligns content */
  gap: 20px; /* Space between the text and the image */
  background-color: #303935; /* Background color for the content box */
  border: 2px solid #141717; /* Border style and color */
  border-radius: 8px; /* Rounds the corners */
  padding: 20px; /* Space inside the content box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow around the box */
  margin: 20px; /* Space outside the content box */
}

.content-box img {
  max-width: 600px; /* Maximum width for the image */
  height: auto; /* Adjusts height proportionally */
  border-radius: 20px; /* Rounds the image corners */
}

.play-button {
  background-color: #979891; /* Background color of the play button */
  color: white; /* Text color inside the button */
  border: none; /* Removes border */
  padding: 20px 50px; /* Space inside the button */
  font-size: 30px; /* Font size of the button text */
  cursor: pointer; /* Changes cursor to a pointer on hover */
  border-radius: 5px; /* Rounds the corners of the button */
  margin: 20px; /* Space outside the button */
}

.play-button:hover {
  background-color: #61605f; /* Background color when hovering over the button */
}

.preview {
  display: flex; /* Enables flexbox for alignment */
  justify-content: center; /* Centers content horizontally */
  gap: 80px; /* Space between images */
}

.preview img {
  width: 300px; /* Sets a fixed width for images */
  height: 300px; /* Sets a fixed height for images */
  object-fit: cover; /* Keeps image proportions and fits them into the defined area */
  border-radius: 10px; /* Rounds the corners of images */
}


@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }
  .navbar {
    padding: 20px 50px; /* Reduce navbar padding for mobile */
  }

  .nav-list {
   /* Stack nav items vertically */
    align-items: center; /* Center align items */
   flex-direction: unset;
  }
  

  .content-box {
    padding: 10px;
  }

  .content-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .preview {
    flex-direction: column;
    gap: 40px;
  }

  .preview img {
    width: 100%;
    height: auto;
  }

  .play-button {
    padding: 15px 40px;
    font-size: 24px;
  }
}
